.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.header {
  font-size: 0.8rem;
  font-weight: normal;
}
