.root {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  background: var(--med-black);
  padding: 5px;
  text-overflow: ellipsis;
  min-height: 1.7rem;
}
