.root {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  background: var(--accent-pink);
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

.button:hover {
  background: var(--accent-pink-darker);
  cursor: pointer;
}
